@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 228 21% 18%;

    --card: 0, 0%, 95%;
    --card-foreground: 228 21% 18%;
    --card-shadow: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 228 21% 18%;

    --primary: 235 58% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 235 58% 55%;
    --secondary-foreground: 0 0% 100%;

    --muted: 235 58% 65%;
    --muted-foreground: 0 0% 100%;

    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 0%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 203 32% 10%;
    --foreground: 0 0% 98%;

    /* --card: 209 35% 15%; */
    --card: 202 23% 16%;
    --card-foreground: 0 0% 98%;
    --card-shadow: 0 0% 100%;

    --popover: 208 28% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 235 58% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 235 58% 55%;
    --secondary-foreground: 0 0% 100%;

    --muted: 235 58% 65%;
    --muted-foreground: 0 0% 100%;

    --accent: 210 34% 13%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 0%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
